{% load static %}
<!DOCTYPE html>
<html>
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <meta name="keywords" content="" />
      <meta name="description" content="" />
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">

      <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700' rel='stylesheet' type='text/css'>

      <link rel="stylesheet" href="{% static 'static_html/css/styles.css' %}" type="text/css" />

      <script src="{% static 'static_html/js/libs/jquery-2.0.3.min.js' %}" ></script>
      <script src="{% static 'static_html/js/libs/chosen.jquery.min.js' %}" ></script>
      <script src="{% static 'static_html/js/libs/imageselect.jquery.js' %}" ></script>
      <script src="{% static 'static_html/js/libs/jquery.checkbox.js' %}" ></script>
      <script src="{% static 'static_html/js/libs/jquery.mousewheel.js' %}"></script>
      <script src="{% static 'static_html/js/libs/jquery.jscrollpane.min.js' %}"></script>
      <script src="{% static 'static_html/js/libs/bootstrap-datepicker.js' %}"></script>
      <script src="{% static 'static_html/js/libs/owl.carousel.min.js' %}"></script>
      <script src="{% static 'static_html/js/libs/jquery.ui.widget.js' %}"></script>
      <script src="{% static 'static_html/js/libs/jquery.iframe-transport.js' %}"></script>
      <script src="{% static 'static_html/js/libs/jquery.fileupload.js' %}"></script>
      <script src="{% static 'static_html/js/libs/jquery.fileupload-ui.js' %}"></script>
      <script src="{% static 'static_html/js/libs/star-rating.min.js' %}"></script>
      <script src="{% static 'static_html/js/default.js' %}"></script>

        <title></title>

    </head>
<body>


<div class="wrapper main-body">

<header class="wrapper main-header">
  <div class="header-content">

    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle">
            <span class="sr-only"></span>
          </button>
          <a class="navbar-brand logo"><img src="{% static 'static_html/img/logo.png' %}" alt=""></a>
        </div>


        <div class="nav-collapse collapse" id="bs-example-navbar-collapse-1">
           <ul class="nav navbar-nav">
            <li><a href="how-it-works.html">How it works</a></li>
            <li><a href="#">Pricing</a></li>
            <li>
              <div class="switch-lang">
                <select class="select-lang">
                  <option value="0" selected="selected" data-img-src="{% static 'static_html/img/lang/lang-english.png' %}">English</option>
                  <option value="1" data-img-src="{% static 'static_html/img/lang/lang-english.png' %}">English</option>
                  <option value="2" data-img-src="{% static 'static_html/img/lang/lang-english.png' %}">English</option>
                </select>
              </div>
            </li>
            <li class="registration"><a href="sign_up_student.html" class="btn btn-red sign-up">Sign up</a></li>
            <li class="registration">
              <div class="login-block">
                <span class="btn btn-gray login">Login</span>
                <div class="login-form">
                  <form action="">
                    <div class="form-item email">
                      <input type="text" placeholder="Email Address">
                    </div>
                    <div class="form-item lock">
                      <input type="text" placeholder="Password">
                    </div>
                    <div class="form-item">
                      <button class="btn btn-green">log in</button>
                    </div>
                  </form>
                   <div class="forgot"><a href="">Forgot your password?</a></div>
                   <div class="social">
                      <span>OR</span>
                      <div>
                        <a href="homepage-login-teacher.html" class="btn btn-blue small"><i class="icon fb"></i></a>
                        <a href="homepage-login-student.html" class="btn btn-orange small"><i class="icon gp"></i></a>
                      </div>

                   </div>
                </div>
              </div>
             </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>



      <div>


      </div>



      <div>

      </div>

  </div>
</header>

<div class="wrapper wrap-content">
<div class="wrapper heading heading-btn">
  <div class="content">
     <h1>List pages OOMaster</h1>
  </div>
</div>


 <div class="main-content">

      <ul class="list-tree-page">
            <li><a href="{% url 'static_html' 'course-detail-files-messages-notes(4tabs)' %}">course-detail</a></li>
            <li><a href="{% url 'static_html' 'course-request' %}">course-request</a></li>
            <li><a href="{% url 'static_html' 'create-course' %}">create-course</a></li>
            <li><a href="{% url 'static_html' 'create-course-preview' %}">create-course-preview</a></li>
            <li><a href="{% url 'static_html' 'edit-class' %}">edit-class</a></li>
            <li><a href="{% url 'static_html' 'homepage' %}">homepage</a></li>
            <li><a href="{% url 'static_html' 'homepage-login-student' %}">homepage-login-student</a></li>
            <li><a href="{% url 'static_html' 'homepage-login-teacher' %}">homepage-login-teacher</a></li>
            <li><a href="{% url 'static_html' 'how-it-works' %}">how-it-works</a></li>
            <li><a href="{% url 'static_html' 'my_earnings' %}">my_earnings</a></li>
            <li><a href="{% url 'static_html' 'my_profile' %}">my_profile</a></li>
            <li><a href="{% url 'static_html' 'my_wishlist' %}">my_wishlist</a></li>
            <li><a href="{% url 'static_html' 'notification_setting' %}">notification_setting</a></li>
            <li><a href="{% url 'static_html' 'payment-history' %}">payment-history</a></li>
            <li><a href="{% url 'static_html' 'post_a_request' %}">post_a_request</a></li>
            <li><a href="{% url 'static_html' 'profile-student' %}">profile-student</a></li>
            <li><a href="{% url 'static_html' 'profile-teacher-reviews-courses(3tabs)' %}">profile-teacher-reviews-courses(3tabs)</a></li>
            <li><a href="{% url 'static_html' 'register_a_course' %}">register_a_course</a></li>
            <li><a href="{% url 'static_html' 'request_detail' %}">request_detail</a></li>
            <li><a href="{% url 'static_html' 'search_result' %}">search_result</a></li>
            <li><a href="{% url 'static_html' 'sign_up_complete' %}">sign_up_complete</a></li>
            <li><a href="{% url 'static_html' 'sign_up_student' %}">sign_up_student</a></li>
            <li><a href="{% url 'static_html' 'teacher_list' %}">teacher_list</a></li>
            <li><a href="{% url 'static_html' 'upgrade_to_teacher_-_complete' %}">upgrade_to_teacher_-_complete</a></li>
            <li><a href="{% url 'static_html' 'upgrade_to_teacher_-_preview' %}">upgrade_to_teacher_-_preview</a></li>
            <li><a href="{% url 'static_html' 'upgrade_to_teacher_-_step1' %}">upgrade_to_teacher_-_step1</a></li>
            <li><a href="{% url 'static_html' 'upgrade_to_teacher_-_step2' %}">upgrade_to_teacher_-_step2</a></li>
      </ul>

</div>

</div>
</div>
<footer class="wrapper main-footer">
<div class="footer-content">
  <nav>
    <a href="">Contact Us</a>
    <a href="">FAQs</a>
    <a href="">Terms & Conditions</a>
  </nav>
  <div><span>OOMaster 2014</span><span>All rights reserved.</span></div>
</div>

</footer>



</body>
</html>
