{% load static %}
<!DOCTYPE html>
<html>
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <meta name="keywords" content="" />
      <meta name="description" content="" />
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">

      <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700' rel='stylesheet' type='text/css'>

      <link rel="stylesheet" href="{% static 'static_html/css/styles.css' %}" type="text/css" />

      <script src="{% static 'static_html/js/libs/jquery-2.0.3.min.js' %}" ></script>
      <script src="{% static 'static_html/js/libs/chosen.jquery.min.js' %}" ></script>
      <script src="{% static 'static_html/js/libs/imageselect.jquery.js' %}" ></script>
      <script src="{% static 'static_html/js/libs/jquery.checkbox.js' %}" ></script>
      <script src="{% static 'static_html/js/libs/jquery.mousewheel.js' %}"></script>
      <script src="{% static 'static_html/js/libs/jquery.jscrollpane.min.js' %}"></script>
      <script src="{% static 'static_html/js/libs/bootstrap-datepicker.js' %}"></script>
      <script src="{% static 'static_html/js/libs/owl.carousel.min.js' %}"></script>
      <script src="{% static 'static_html/js/libs/jquery.ui.widget.js' %}"></script>
      <script src="{% static 'static_html/js/libs/jquery.iframe-transport.js' %}"></script>
      <script src="{% static 'static_html/js/libs/jquery.fileupload.js' %}"></script>
      <script src="{% static 'static_html/js/libs/jquery.fileupload-ui.js' %}"></script>
      <script src="{% static 'static_html/js/libs/star-rating.min.js' %}"></script>
      <script src="{% static 'static_html/js/default.js' %}"></script>

        <title></title>

    </head>
<body>

<div class="wrapper main-body">

<header class="wrapper main-header">
  <div class="header-content">

    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle">
            <span class="sr-only"></span>
          </button>
          <a class="navbar-brand logo"><img src="{% static 'static_html/img/logo.png' %}" alt=""></a>
        </div>


        <div class="nav-collapse collapse" id="bs-example-navbar-collapse-1">
           <ul class="nav navbar-nav">
            <li><a href="{% url 'static_html' 'how-it-works' %}">How it works</a></li>
            <li><a href="#">Pricing</a></li>
            <li>
              <div class="switch-lang">
                <select class="select-lang">
                  <option value="0" selected="selected" data-img-src="{% static 'static_html/img/lang/lang-english.png '%}">English</option>
                  <option value="1" data-img-src="{% static 'static_html/img/lang/lang-english.png '%}">English</option>
                  <option value="2" data-img-src="{% static 'static_html/img/lang/lang-english.png '%}">English</option>
                </select>
              </div>
            </li>
            <li class="registration"><a href="{% url 'static_html' 'sign_up_student' %}" class="btn btn-red sign-up">Sign up</a></li>
            <li class="registration">
              <div class="login-block">
                <span class="btn btn-gray login">Login</span>
                <div class="login-form">
                  <form action="">
                    <div class="form-item email">
                      <input type="text" placeholder="Email Address">
                    </div>
                    <div class="form-item lock">
                      <input type="text" placeholder="Password">
                    </div>
                    <div class="form-item">
                      <button class="btn btn-green">log in</button>
                    </div>
                  </form>
                   <div class="forgot"><a href="">Forgot your password?</a></div>
                   <div class="social">
                      <span>OR</span>
                      <div>
                        <a href="{% url 'static_html' 'homepage-login-teacher' %}" class="btn btn-blue small"><i class="icon fb"></i></a>
                        <a href="{% url 'static_html' 'homepage-login-student' %}" class="btn btn-orange small"><i class="icon gp"></i></a>
                      </div>

                   </div>
                </div>
              </div>
             </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>



      <div>


      </div>



      <div>

      </div>

  </div>
</header>


<div class="block main-banner">
  <img src="{% static 'static_html/img/img-2.jpg' %}" alt="">
  <div class="content">
     <div class="title">Teaching and finding a teacher has never been so easy</div>
     <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in.</div>
  </div>
</div>

<div class="content search-main">
  <div class="block-info">
    <h2>Search live courses on OOMaster</h2>
    <form action="">
       <div class="form-item">
         <select>
          <option value="">Sport & Health</option>
          <option value="">Sport & Health</option>
        </select>
       </div>
       <div class="form-item">
         <select>
          <option value="">Taipei</option>
          <option value="">Taipei</option>
        </select>
       </div>
       <div class="form-item">
         <select>
          <option value="">Most Popular</option>
          <option value="">Most Popular</option>
        </select>
       </div>
       <div class="form-item">
         <button class="btn btn-green">Submit</button>
       </div>
    </form>
  </div>
</div>

 <div class="main-content main-page">
    <div class="column left sidebar">
      <form action="">
         <div class="form-item search">
           <input type="text" placeholder="Type to search">
         </div>
         <div class="title">Filter By</div>
         <div class="btn-filer">
           <button class="btn btn-gray small active">Up-coming</button>
           <button class="btn btn-gray small">On-going</button>
         </div>
      </form>
      <div class="title">By Category</div>
      <ul class="category">
        <li><a href="">Art</a></li>
        <li>Sport</li>
        <li>Music</li>
        <li>Health</li>
        <li>Design</li>
        <li>Dance</li>
      </ul>
    </div>

    <div class="column right content">
      <ul class="block-view">
        <li class="active"><i class="icon thumbnails"></i></li>
        <li><i class="icon list"></i></li>
      </ul>
      <h3>Sunday April 22, 2014</h3>
      <div class="block-courses">
        <div class="courses-item">

          <div class="img-block">
          <div class="name">
              <img src="{% static 'static_html/img/no-photo-1.jpg' %}" alt="">
              <span>Boris Liao</span>
          </div>
            <a href="{% url 'static_html' 'course-detail-files-messages-notes(4tabs)' %}"><img src="{% static 'static_html/img/img-1.jpg' %}" alt=""></a>
            <div class="empty-seats more">2 more students to begin</div>
          </div>

          <div class="courses-info">

            <a href="{% url 'static_html' 'course-detail-files-messages-notes(4tabs)' %}">Let’s learn how to play golf professionallyr</a>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
            <div>
              <span class="time"><i class="icon clock"></i>8:00 AM</span>
              <span class="class-num"><i class="icon classes"></i>3rd Class</span>
              <span class="price"><i class="icon tag"></i>$300</span>
            </div>
            <div class="name">
              <a href="{% url 'static_html' 'profile-teacher-reviews-courses(3tabs)' %}">Boris Liao</a>
              <img src="{% static 'static_html/img/no-photo-1.jpg' %}" alt="">
            </div>
            <div class="courses-title">
              <a href="{% url 'static_html' 'course-detail-files-messages-notes(4tabs)' %}">Learn how to play the guitar</a>
            </div>


          </div>

        </div>
        <div class="courses-item">
         <div class="img-block">
          <div class="name">
              <img src="{% static 'static_html/img/no-photo-1.jpg' %}" alt="">
              <span>Boris Liao</span>
          </div>
            <a href="{% url 'static_html' 'course-detail-files-messages-notes(4tabs)' %}"><img src="{% static 'static_html/img/img-1.jpg' %}" alt=""></a>
            <div class="empty-seats">3 seats left!</div>
          </div>
           <div class="courses-info">

            <a href="">Let’s learn how to play golf professionallyr</a>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
            <div>
              <span class="time"><i class="icon clock"></i>8:00 AM</span>
              <span class="class-num"><i class="icon classes"></i>3rd Class</span>
              <span class="price"><i class="icon tag"></i>$300</span>
            </div>
            <div class="name">
              <span>Boris Liao</span>
              <img src="{% static 'static_html/img/no-photo-1.jpg' %}" alt="">
            </div>
            <div class="courses-title">
              <a href="">Learn how to play the guitar</a>
            </div>


          </div>
        </div>


      </div>

        <h3>Monday April 23, 2014</h3>
         <div class="block-courses">
        <div class="courses-item">
         <div class="img-block">
          <div class="name">
              <img src="{% static 'static_html/img/no-photo-1.jpg' %}" alt="">
              <span>Boris Liao</span>
          </div>
            <a href="{% url 'static_html' 'course-detail-files-messages-notes(4tabs)' %}"><img src="{% static 'static_html/img/img-1.jpg' %}" alt=""></a>
            <div class="empty-seats">3 seats left!</div>
          </div>
           <div class="courses-info">

            <a href="">Let’s learn how to play golf professionallyr</a>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
            <div>
              <span class="time"><i class="icon clock"></i>8:00 AM</span>
              <span class="class-num"><i class="icon classes"></i>3rd Class</span>
              <span class="price"><i class="icon tag"></i>$300</span>
            </div>
            <div class="name">
              <span>Boris Liao</span>
              <img src="{% static 'static_html/img/no-photo-1.jpg' %}" alt="">
            </div>
            <div class="courses-title">
              <a href="">Learn how to play the guitar</a>
            </div>


          </div>
        </div>
        <div class="courses-item">
         <div class="img-block">
          <div class="name">
              <img src="{% static 'static_html/img/no-photo-1.jpg' %}" alt="">
              <span>Boris Liao</span>
          </div>
            <a href="{% url 'static_html' 'course-detail-files-messages-notes(4tabs).html' %}"><img src="{% static 'static_html/img/img-1.jpg' %}" alt=""></a>
            <div class="empty-seats">3 seats left!</div>
          </div>
           <div class="courses-info">

            <a href="">Let’s learn how to play golf professionallyr</a>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
            <div>
              <span class="time"><i class="icon clock"></i>8:00 AM</span>
              <span class="class-num"><i class="icon classes"></i>3rd Class</span>
              <span class="price"><i class="icon tag"></i>$300</span>
            </div>
            <div class="name">
              <span>Boris Liao</span>
              <img src="{% static 'static_html/img/no-photo-1.jpg' %}" alt="">
            </div>
            <div class="courses-title">
              <a href="">Learn how to play the guitar</a>
            </div>


          </div>
        </div>

      </div>

        <div class="load-more"><button type="button" class="btn btn-green">Load More Courses</button></div>
    </div>

 </div>


  <div class="pre-footer appstore">
    <div class="content">
      <h2>OOMaster provides mobile APPs for your better experience </h2>
      <a href="" ><img src="{% static 'static_html/img/appstore.png' %}" alt="appstore"></a>
      <a href=""><img src="{% static 'static_html/img/google.png' %}" alt="google"></a>
    </div>
  </div>

</div>

<footer class="wrapper main-footer">
<div class="footer-content">
  <nav>
    <a href="">Contact Us</a>
    <a href="">FAQs</a>
    <a href="">Terms & Conditions</a>
  </nav>
  <div><span>OOMaster 2014</span><span>All rights reserved.</span></div>
</div>

</footer>



</body>
</html>
