<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ LANGUAGE_CODE }}">
<head>
<title>{{ title }}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />		
<style type="text/css"  media="all">
	{% include "pdf/css/pdf.css" %}
</style>
</head>
<body>
{% block content %}
	<table border="0" bordercolor="#ffffff">
		<tr>
			<td width="220">
				<table border="0">
					<tr>
						<td align="left"><img src="{{ STATIC_ROOT }}/images/logo.png" width="127" height="111" /></td>
					</tr>
					<tr>
						<td align="left"><h5>{{site.domain|urlize}}</h5></td>
					</tr>
				</table>
			</td>
			<td align="right">
				<table>
					<tr>
						<td>
						</td>
						<td align="left">
							<table>
								<tr>
									<td>
									{{ user.username }}
									{{ user.profile.bio }}
									{{ user.profile.gender }}
									{{ user.profile.country }}
									{{ user.profile.region }}
									{{ user.profile.city }}
									{{ user.profile.date_birthday }}
									{{ user.profile.teacher_info.phone_number }}
									</td>
								</tr>
								<tr>
									<td>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
{% endblock %}
</body>
</html>