{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Test notification</h3>
        </div>
        <div class="panel-body message">
            There are no updates for the time being.
        </div>
    </div>
        </div>
    </div>

{% endblock content %}

{% block extra_js %}

    <script src="{% static 'js/socket.js' %}" type="text/javascript"></script>

    <script type="application/javascript" charset="utf-8">
        WEB_SOCKET_SWF_LOCATION = "{% static 'flashsocket/WebSocketMain.swf' %}";
        var username = "{{ request.user.get_full_name }}";
        var user_id = "{{ request.user.id }}";
        var stream_uuid = "{{ request.user.pk }}";
    </script>
    <script src="{% static 'js/notification.js' %}" type="text/javascript"></script>

{% endblock %}

